<!DOCTYPE html>
<html>
<head>

  {{#if experiment.hideNonFeatured}}
  <!-- Load the Content Experiment JavaScript API client for the experiment -->
  <script src="//www.google-analytics.com/cx/api.js?experiment=RzhKVzBdTAec-yBqPRT8KQ"></script>
  {{/if}}

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>{{title}}</title>
  <meta name="viewport" content="width=device-width">
  <meta name="description" content="{{description}}">
  <link rel="canonical" href="{{canonicalURL}}">
  <link rel="stylesheet" href="/{{fingerprint.[css/main.css]}}">
  <meta name="wot-verification" content="fdff4a26070b9df2fd1a"/>

  {{#if experiment.hideNonFeatured}}
  <script>
    // Ask Google Analytics which variation to show the user.
    var chosenVariation = cxApi.chooseVariation();
    switch (chosenVariation) {
      case 0:
        console.log('Choosing variation #0: Show all posts');
        // Do nothing
        break;
      case 1:
        console.log('Choosing variation #1: Show only featured posts');
        document.write('<style>.article--not-featured {display: none;}</style>');
        break;
    }
  </script>
  {{/if}}

</head>
<body>

  <div class="wrapper">
    <header class="site-header">
      <h1><a href="/">David Moody</a></h1>
      <p>{{tagline}}</p>
    </header>

    <div class="content">
      {{{contents}}}
    </div>
    
    <div class="push"></div>
  </div>

  <footer class="site-footer">
    <br>
    <p>
      <a href="/{{feedPath}}">RSS</a> | 
      <a href="{{gitHubURL}}">GitHub</a> | 
      <a href="mailto:{{email}}">Email</a>
    </p>
    <p>
      This blog is available under a 
      <a rel="license" href="http://creativecommons.org/licenses/by/4.0/">
        Creative Commons License
      </a>
    </p>
  </footer>

  {{#if production}}
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-54505873-1', 'auto');
    ga('send', 'pageview');

  </script>
  {{else}}
  <script>
    console.log('Google Analytics is only enabled in production mode');
  </script>
  {{/if}}

</body>
</html>
